<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSave(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        rows="6"
        name="title"
        type="text"
        [ngModel]="post?.title"
        required
        placeholder="Blog Title"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">{{ "Please add a title" }}</mat-error>
    </mat-form-field>
    <div>
      <button
        mat-button
        color="accent"
        type="button"
        (click)="imgUpload.click()"
      >
        Upload Image
      </button>
      <input type="file" #imgUpload />
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        name="content"
        [ngModel]="post?.content"
        #content="ngModel"
        placeholder="Post something interesting."
        required
      ></textarea>
      <mat-error *ngIf="content.invalid">{{
        "Please add some content. "
      }}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Save Blog</button>
  </form>
</mat-card>
