<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="posts.length && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    {{ post.content }}
    <mat-action-row>
      <!-- <button mat-button color="primary">Edit <mat-icon>edit</mat-icon></button>
      <button mat-button color="warn">
        Remove <mat-icon>delete</mat-icon>
      </button> -->
      <a
        mat-mini-fab
        color="primary"
        aria-label="edit"
        [routerLink]="['/create', post.id]"
      >
        <mat-icon>edit</mat-icon>
      </a>
      <button
        mat-mini-fab
        color="warn"
        aria-label="delete"
        (click)="onDelete(post.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1 nopost" *ngIf="posts.length === 0 && !isLoading">
  Start writing stories.
</p>
